# OVOS Mark II snapshot 2026-09-05
# Device: clinton@mycroft-prime.lan
# Python 3.11.16 / ~/.venvs/ovos
# ovos-installer git ed0421e1b79c686957cf63d97657b55af870a903
# Do not upgrade past these versions. pip install uses this as --constraint.
#
ahocorasick-ner==0.1.1
annotated-types==0.8.0
anyio==4.15.0
attrs==26.1.0
av==18.1.0
beautifulsoup4==4.15.0
bidict==0.24.1
bitstruct==8.23.0
boto3==1.43.89
botocore==1.43.89
bs4==0.0.2
caldav==1.6.0
casttube==0.2.1
cattrs==26.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
chronologia==0.27.9a5
click==8.5.0
cloudpickle==3.1.2
combo_lock==0.3.1
ctranslate2==4.8.2
dateparser==1.4.3
dbus-next==0.2.3
decorator==5.3.1
faster-whisper==1.2.1
feedparser==6.0.14
feedparser-sgmllib==2.1.0
filelock==3.32.5
flatbuffers==25.12.19
fsspec==2026.7.0
ftfy==6.3.1
future==1.0.0
geocoder==1.38.1
h11==0.16.0
h3==4.5.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.30.0
icalendar==5.0.14
idna==3.19
ifaddr==0.2.0
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.6.0
json-database==0.10.1
keyword-template-matcher==0.1.1
kthread==0.2.3
langcodes==3.5.1
language_data==1.4.0
linkify-it-py==2.2.0
lxml==6.1.3
marisa-trie==1.4.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdit-py-plugins==0.6.1
mdurl==0.1.2
mediavocab==1.3.0a3
memory-tempfile==2.2.3
model2vec==0.9.0
more-itertools==8.14.0
numpy==1.26.4
onnxruntime==1.29.0
ovos-audio==2.2.3a2
ovos-bidirectional-translation-plugin==0.1.4a2
ovos-bus-client==2.11.9a1
ovos-config==2.3.11a2
ovos-core==2.2.4a1
ovos-date-parser==0.30.3a1
ovos-ddg-plugin==1.1.2a1
ovos-dialog-normalizer-plugin==0.0.3a2
ovos-dinkum-listener==0.10.0a1
ovos-docs-viewer==0.0.1
ovos-gui==1.5.0a1
ovos-gui-api-client==0.1.0
ovos-lang-parser==0.7.1a4
ovos-media-classifier==0.2.1a1
ovos-media-plugin-mpv==1.0.2a1
ovos-media-plugin-simple==0.1.0a1
ovos-number-parser==0.19.13
ovos-ocp-files-plugin==0.13.2a3
ovos-ocp-m3u-plugin==0.0.4a5
ovos-option-matcher-fuzzy-plugin==0.0.2a1
ovos-persona==0.9.0a21
ovos-PHAL-plugin-hotkeys==0.1.3a2
ovos-PHAL-plugin-network-manager==1.3.7a2
ovos-plugin-manager==2.11.6a1
ovos-skill-alerts==0.4.0a1
ovos-skill-audio-recording==0.2.14a1
ovos-skill-boot-finished==0.5.5a8
ovos-skill-count==0.0.9a2
ovos-skill-date-time==1.2.2a3
ovos-skill-ddg==0.3.10a1
ovos-skill-diagnostics==0.0.13a2
ovos-skill-dictation==0.2.26a3
ovos-skill-fallback-unknown==0.1.13a2
ovos-skill-hello-world==0.2.8a2
ovos-skill-ip==0.3.3a1
ovos-skill-naptime==0.6.0a2
ovos-skill-parrot==0.1.34a1
ovos-skill-personal==1.0.0a1
ovos-skill-randomness==1.1.1a3
ovos-skill-speedtest==0.3.9a1
ovos-skill-spelling==0.4.1a2
ovos-skill-volume==0.1.24a2
ovos-skill-weather==1.2.0a1
ovos-skill-wikihow==0.3.10a2
ovos-skill-wikipedia==0.10.0a1
ovos-skill-wolfie==0.7.3a1
ovos-spec-tools==1.10.6a1
ovos-stt-plugin-fasterwhisper==0.4.0
ovos-stt-plugin-vosk==0.2.7
ovos-translate-server-plugin==0.0.8a3
ovos-tts-plugin-polly==0.3.0a2
ovos-tui-client==0.1.25
ovos-utils==0.14.1a1
ovos-utterance-normalizer==0.2.5a2
ovos-utterance-plugin-cancel==0.3.3a2
ovos-vad-plugin-noise==0.1.3a7
ovos-vad-plugin-silero==0.1.3a2
ovos-vad-plugin-webrtcvad==0.0.3a4
ovos-wikipedia-plugin==1.1.2a1
ovos-wolfram-alpha-plugin==1.1.2a1
ovos-workshop==9.6.7a1
ovos-ww-plugin-precise-onnx==0.1.1a8
ovos-ww-plugin-vosk==0.1.11a3
ovos-yes-no-plugin==0.4.0a1
ovos_adapt_parser==1.6.3a2
ovos_audio_plugin_simple==0.1.4a3
ovos_common_query_pipeline_plugin==1.1.15a3
ovos_m2v_pipeline==0.9.0a1
ovos_media_plugin_chromecast==0.1.5a1
ovos_media_plugin_spotify==0.2.10a1
ovos_microphone_plugin_alsa==0.1.4a6
ovos_microphone_plugin_sounddevice==0.0.3a9
ovos_ocp_news_plugin==0.1.4a1
ovos_ocp_pipeline_plugin==1.5.0a1
ovos_ocp_rss_plugin==0.1.3a6
ovos_ocp_youtube_plugin==0.0.9a1
ovos_openai_plugin==2.0.10a1
ovos_PHAL==0.3.1a1
ovos_PHAL_plugin_alsa==0.1.9a1
ovos_phal_plugin_ipgeo==0.1.9a2
ovos_PHAL_plugin_system==1.3.8a2
ovos_PHAL_plugin_wallpaper_manager==0.2.8a2
ovos_plugin_common_play==1.3.5a1
ovos_skill_homescreen==3.0.4a2
ovos_solver_failure_plugin==0.0.6a2
ovos_stt_plugin_server==0.1.5a4
ovos_tts_plugin_piper==0.2.6a2
ovos_tts_plugin_server==0.0.6a3
ovos_utterance_corrections_plugin==0.1.3a6
packaging==26.3
padacioso==2.3.1a1
pexpect==4.9.0
phoonnx==0.5.4
platformdirs==4.11.7
pprintpp==0.4.0
protobuf==7.36.1
psutil==7.2.2
ptyprocess==0.7.0
pyahocorasick==2.3.1
pyalsaaudio==0.11.0
PyChromecast==14.0.10
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
pyee==12.1.1
Pygments==2.21.0
python-dateutil==2.9.0.post0
python-mpv-jsonipc==1.4.0
pytube==15.0.0
pytz==2026.3.post1
pywikihow==0.5.7
PyYAML==6.0.3
quebra-frases==0.3.7
RapidFuzz==3.14.6
ratelim==0.1.6
recurring-ical-events==3.3.4
redis==8.1.0
regex==2026.9.3
requests==2.34.2
requests-cache==1.3.3
rich==13.9.4
rich-click==1.9.8
s3transfer==0.19.2
safetensors==0.8.0
scipy==1.17.1
sentence_stream==1.3.0
simplematch==1.4
six==1.17.0
sonopy==0.1.2
sounddevice==0.5.6
soupsieve==2.9.2
SpeechRecognition==3.17.0
speedtest-cli==2.1.3
spotipy==2.26.0
srt==3.5.3
textual==6.2.1
timezonefinder==8.3.0
timezonefinder-data==1.2026.3
tokenizers==0.23.2
tornado==6.5.8
tqdm==4.70.0
tutubo==2.0.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
unicode-rbnf==2.4.0
url-normalize==3.0.0
urllib3==2.7.0
vobject==0.9.9
vosk==0.3.45
wallpaper_finder==0.1.2
watchdog==2.3.1
wcwidth==0.8.3
webrtcvad-wheels==2.0.14
websocket-client==1.9.2
websockets==17.1
wrapt==2.4.0
x-wr-timezone==1.0.1
yt-dlp==2026.8.19
ytmusicapi==1.12.2
zeroconf==0.151.3
