[Unit]
Documentation=https://github.com/MycroftAI/mark-ii-hardware-testing/blob/main/README.md
Description=SJ201 microphone + amp initialization

[Service]
Type=oneshot
WorkingDirectory=/home/clinton/.venvs/sj201
ExecStart=/home/clinton/.venvs/sj201/bin/python /opt/sj201/xvf3510-flash --direct /opt/sj201/app_xvf3510_int_spi_boot_v4_2_0.bin --verbose
ExecStartPost=/home/clinton/.venvs/sj201/bin/python /opt/sj201/init_tas5806_fixed.py
Restart=on-failure
RestartSec=5s
RemainAfterExit=yes

[Install]
WantedBy=default.target
